:root {
    --color-profile-titulo: rgb(255, 255, 255);
    --color-profile: #22222c;
    --color-profile-texto: #ffff;
}

.color-profile {
    background-color: var(--color-profile);
}

.profile-info {
    margin-bottom: 25px;
}

.profile-img {
    width: 80%;
    max-width: 300px;
    border-radius: 7%;
}

.profile-img-section {
    position: relative;
}

.profile {
    text-align: center;
    padding: 30px;
}

.profile-title {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    color: var(--color-profile-titulo);
    font-family: "Noto Sans", sans-serif;
}

.profile-details {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 450px;
    color: var(--color-profile-texto);
    margin: 20px auto;
}

@media (min-width: 950px) {
    .profile-info {
        margin-bottom: 0px;
    }
    .profile-img {
        width: 200%;
        max-width: 700px;
        transform: scaleX(-1);
        border-radius: 7%;
    }
    .profile {
        text-align: left;
        display: flex;
        justify-content: space-between;
        max-width: 1300px;
        margin: 0 auto;
        align-items: center;
    }
    .profile-title {
        font-size: 60px;
    }
    .profile-details {
        font-size: 25px;
        margin: 30px 0;
    }
}