.video1 {
    height: 100vh;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}


/*
@media(max-width: 950px) {
    .video-container {
        width: 100%;
        height: 90%;
    }
}
*/

@media(max-width: 950px) {
    .video1 {
        height: 100vh;
    }
    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .video-container video {
        position: relative;
        top: 50%;
        left: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
    }
}